<!DOCTYPE html>
<head>
    <title>Datos de Clientes de la Entidad Bancaria en Sistemas Externos</title>
</head>
<body>
    <a href="{% url 'DatosExternos' %}">Volver a la página principal</a>

    <h1>Cualquier modificación, se trasladará la BBDD central</h1>

   <form method="POST" action="/Actualizar/{{Clientes.id}}">
       {% csrf_token %}
   
    <table>
        <tr>
            <td>ID cliente</td>
            <td><input type="text"  name="id" value="{{Clientes.id}}" readonly></td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td><input type="text"  name="nombre" value="{{Clientes.nombre}}"></td>
        </tr>
         <tr>
            <td>Apellidos</td>
            <td><input type="text"  name="apellidos" value="{{Clientes.apellidos}}"></td>
        </tr>
        <tr>
            <td>Direccion</td>
            <td><input type="text"  name="direccion" value="{{Clientes.direccion}}"></td>
        </tr>
        <tr>
            <td>Telefono</td>
            <td><input type="text"  name="tfno" value="{{Clientes.tfno}}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" name="email" value="{{Clientes.email}}" readonly></td>
        </tr>
        <tr>
            <td>Edad</td>
            <td><input type="text"  name="edad" value="{{Clientes.edad}}"></td>
        </tr>
        <tr>
            <td>Producto</td>
            <td><input type="text"  name="producto" value="{{Clientes.producto}}"></td>
        </tr>
        
    </table>
    <td><input type="submit" value="Actualizar datos"></td>
    {% if messages %}
    {% for mess in messages %}
    <b>{{mess}}</b>
    {% endfor %}
    {% endif %} 
    </form> 
</body>
</html>